.counting {
height: 500px;
width: 500px;
background-color: cadetblue;
text-align: center;
margin-left: 100px;

}

.counting .buttons {
    display: block;
    margin-top: 150px;
    
}

#label {
    display: block;
    font-size: 50px;
    color: red;
}